<div>
  <img src="#" retina-image
               data-src-1x="/img/hack-your-school-hero.jpg"
               data-src-2x="/img/hack-your-school-hero.jpg"
               height="400"/>
</div>
<div class="wizard-template">
  <div class="container">
    <h1 class="wizard-header-section">Hack Your School's Website!</h1>
    <p class="wizard-header-section-sub">In this Maker Party, you'll remix your school's web site. It's fun, creative, and lets you mess around with HTML, the language that makes up the web. It's easy! Don't worry -- you're not actually hacking the site for others. You're changing a version of the site that only you can see.</p>

    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <button class="btn btn-success wizzard-btn">Activate X-Ray Goggles</button>
        <p class="wizard-btn-desc">Once you drag this to your browser's toolbar, you will have the power of X-Ray vision on any website you visit!</p>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
        <ol>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p class="wizard-list-title">Install the X-Ray Goggles</p>
                <p>Drag the big green "Activate X-Ray Goggles" button to your browser's bookmarks toolbar.</p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p class="wizard-list-title">Navigate to your school's website</p>
                <p>You could also navigate to your future college!</p>
                <img src="/img/wizard-step-2.svg" alt="" class="src">
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p class="wizard-list-title">Activate Goggles!</p>
                <p>Click on your browser's bookmarklet to activate the Goggles.</p>
                <img src="/img/wizard-step-3.svg" alt="" class="src">
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p class="wizard-list-title">Hit the 'Remix' button</p>
                <p>Hit <kbd>R</kbd> on the keyboard to remix any element</p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p class="wizard-list-title">Change the text</p>
                <p>Try changing some text on the page. You could announce that your school is closed next week, that your teacher has been abducted by aliens -- anything!</p>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p class="wizard-list-title">Bonus points: Swap in a new image</p>
                <p>Mouse over an image on the page and hit <kbd>R</kbd> or click 'Remix.' Then paste in the URL address for your new image.</p>
                <div class="alert alert-info">
                  TOP TIP: How do you find the address for a new image? First, find an image you like on the web. Right-click or control-click on the image you want and slect: 'Copy image location' (Or 'Copy image URL' or 'Copy image address', depending on your web browser.) Then, paste your new image URL over top of the old one. Be careful not to lose the quotation marks!
                </div>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
          <li>
            <figure>
              <figcaption class="col-xs-12">
                <p class="wizard-list-title">Share your Remix!</p>
                <div class="row wiz-align-center">
                  <div class="col-md-6">
                    <img src="/img/wizard-publish-share.svg" alt="" class="wizard-share-image">
                    <p class="image-sub">Publish and Share</p>
                    <p>Click the Publish button or press <kbd>P</kbd> on your keyboard. This makes your changes visible on the web for others to see. Share it on Twitter using the #makerparty hashtag while you're at it!</p>
                  </div>
                  <div class="col-md-6">
                    <img src="/img/wizard-badge.jpg" alt="" >
                    <p class="image-sub">Claim your Badges</p>
                    <p>Claim the Remixing badge. You've earned it! Helpers or co-organizers can claim a free Skill Shaer badge!</p>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
