<div class="bg-lightgrey">
  <div class="container">
    <h1 class="section-header text-primary">Password Reset</h1>
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <div class="panel panel-default">
          <div ng-hide="resetComplete" class="panel-body">
            <form class="form" name="form.user" novalidate>
              <div class="form-group">
                <label for="password">New Password</label>
                <input ng-model="user.password" class="form-control" type="password" name="password" placeholder="New Password" ng-change="checkPasswords();">
                <span ng-show="form.user.password.$error.isInvalidPassword" class="help-block" >
                  Error! your password:
                  <ul>
                    <li ng-show="form.user.password.$error.hasLowerCase">Must have a lower case letter (a-z)</li>
                    <li ng-show="form.user.password.$error.hasUpperCase">Must have an upper case letter (A-Z)</li>
                    <li ng-show="form.user.password.$error.hasDigitOrNonWord">Must contain at least one digit or non word character (1-9 or !@#$)</li>
                    <li ng-show="form.user.password.$error.longEnough">Must be at least 8 characters long</li>
                    <li ng-show="form.user.password.$error.notTooLong">Must be at less that 120 characters</li>
                  </ul>
                </span>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input ng-model="user.confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm the password entered above." ng-change="checkPasswords();">
                <span ng-show="form.user.password.$error.passwordsMatch" class="help-block">
                  The passwords entered do not match!
                </span>
              </div>
              <div class="alert alert-danger" ng-show="resetFailed">Your Password Reset Failed! Try reloading the page or resending the reset request.</div>
              <button type="button" class="btn btn-primary" ng-disable="resetInProgress" ng-click="submitChanges();">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
