<div class="bg-lightgrey">
  <div class="container">
    <h1 class="section-header text-primary">{{ 'Password Reset' | i18n }}</h1>
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <div class="panel panel-default">
          <div ng-hide="resetComplete" class="panel-body">
            <form class="form" name="form.user" novalidate>
              <div class="form-group">
                <label for="password">{{ 'New Password' | i18n }}</label>
                <input ng-model="user.password" class="form-control" type="password" name="password" placeholder="{{ 'New Password' | i18n }}" ng-change="checkPasswords();">
                <span ng-show="form.user.password.$error.isInvalidPassword" class="help-block" >
                  {{ 'Error! your password:'  | i18n }}
                  <ul>
                    <li ng-show="form.user.password.$error.hasLowerCase">{{'Must have a lower case letter' | i18n }}</li>
                    <li ng-show="form.user.password.$error.hasUpperCase">{{'Must have an upper case letter' | i18n }}</li>
                    <li ng-show="form.user.password.$error.hasDigitOrNonWord">{{'Must contain at least one digit or non word character' | i18n }}</li>
                    <li ng-show="form.user.password.$error.longEnough">{{'Must be at least 8 characters long' | i18n }}</li>
                    <li ng-show="form.user.password.$error.notTooLong">{{'Must be at less that 120 characters' | i18n }}</li>
                  </ul>
                </span>
              </div>
              <div class="form-group">
                <label for="confirmPassword">{{ 'Confirm the new password' | i18n }}</label>
                <input ng-model="user.confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="{{ 'Confirm the password entered above' | i18n }}" ng-change="checkPasswords();">
                <span ng-show="form.user.password.$error.passwordsMatch" class="help-block">
                  {{ 'The passwords entered do not match!' | i18n }}
                </span>
              </div>
              <div class="alert alert-danger" ng-show="resetFailed">{{ 'Your Password Reset Failed' | i18n }}</div>
              <button type="button" class="btn btn-primary" ng-disable="resetInProgress" ng-disabled="!user.password || !user.confirmPassword || form.user.$invalid" ng-click="submitChanges();">{{ 'Change Password' | i18n }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
