<div class="modal-header">
  <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" ng-hide="enterToken">Login</h3>
  <span ng-show="enterToken"><i class="fa fa-envelope" style="color:#aaa;"> </i> We emailed you a key</span>
</div>
<div class="modal-body">
  <form class="form" name="form.user" novalidate>
    <div ng-hide="enterToken">
      <div class="form-group">
        <label for="loginEmail">Email</label>
        <input name="loginEmail" class="form-control" ng-model="user.loginEmail" autocomplete="on" required>
        <span class="help-block" ng-show="form.loginEmail.$error.invalid">That doesn't look like an email address!</span>
      </div>
      <div class="form-group hidden">
        <label for="password">Password</label>
        <input type="password" name="password" required="">
      </div>
      <p>
        By proceeding, you agree to Webmaker\'s <a href="#">Terms</a> & <a href="#">Privacy Policy</a>.
      </p>
      <button class="submit-userid btn btn-primary" type="button" ng-click="user.loginEmail && submitEmail()">Login</button>
    </div>
    <div ng-show="enterToken">
      <div class="form-group key-group">
        <label for="key">Enter your key to login</label>
        <input ng-model="user.token" name="key" id="key" class="form-control" required="">
      </div>
      <button class="submit-userid btn btn-primary" type="button" ng-click="user.token && submitToken()">Submit Key</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <p ng-show="enterToken">
    Trouble with key? <a href="#">Get help.</a> Frustrated with these keys? Set a password <- TODO.
  </p>
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">{{ 'Cancel' | i18n }}</button>
</div>
